language: java
install: mvn install -DskipTests=true -Dmaven.javadoc.skip=true
script: mvn test
sudo: false
jdk:
  - openjdk8
after_success:
  - bash <(curl -s https://codecov.io/bash)
cache:
  directories:
    - $HOME/.m2